
*.log
*.aux
*.aux
*.aux
*.log
*.log
bible-latex/bible_content.aux
bible-latex/bible_content.log
bible-latex/罗马书.synctex.gz
bible-latex/罗马书.toc
bible-latex/latex-template.synctex.gz
bible-latex/latex-template.pdf
bible-latex/bible_content.synctex.gz
bible-latex/bible_content.pdf
pages/contents.md
logseq/config.edn
logseq/custom.css
